@{
    ViewBag.Title = "Reset";
}

<h2>Reset</h2>
<div id="msg">

</div>
<button>Reiniciar !</button>

@section scripts
{
    <script>
        $(function () {
            $('button').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Reset"
                })
                .always(function () {
                    window.location.href = '/Home/Index';
                });

                $("msg").append("<h3>Aguarde enquanto o servidor reinicia...</h3>");
            });
        });
    </script>
}

