@using System.Web.Hosting
@{
    Layout = null;
    Response.StatusCode = 403;
    if (IsAjax)
    {
        Response.Write("Resource forbidden");
        return;
    }
    const string html = "text/html";
    bool requestingHtml = Request.AcceptTypes == null || Request.AcceptTypes.Any(type =>
        html.Equals(type, StringComparison.OrdinalIgnoreCase));

    if (!requestingHtml)
    {
        //não renderiza conteúdo
        return;
    }

    if (HostingEnvironment.VirtualPathProvider.FileExists(this.MapPath("~/403.cshtml")))
    {
        @RenderPage(this.MapPath("~/403.cshtml"))
        return;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>403 - Forbidden</title>
</head>
<body>
    <p>@Request.RawUrl</p>
    <p>Proibido acessar este recurso.</p>
</body>
</html>
