@{
    Page.Title = "The page does not exist";
    Response.StatusCode = 200;
    Layout = null;
}

<article>
    <h1>The page doesn't exist</h1>
	<h2>Teste.</h2>
    <p>Sorry about that. </p>

    <p>
        <a href="~/">Go to the front page</a>
    </p>
</article>