<?xml version="1.0" encoding="utf-8"?>

<Frankstein appname="HostWebApp-Frankstein" stopMonitoring="false" traceoutput="~/traceoutput.log" insertroutes="false" verbose="true">
  <httpmodules>
    <trace enabled="true" verbose="true" events="" bufferize="false" />
    <customerror enabled="true" controllername="" errorviewpath="~/500.cshtml" userazor="true" />
    <whitespace enabled="false" />
    <pathrewriter enabled="true" ignorepaths="/Admin;/Content;/Scripts;/Bundles" />
    <transactionscope enabled="false" timeout="180" />
  </httpmodules>
  <mvctrace enabled="false" />
  <mail admin="hostwebapp@appharbor.com" developer="jpolvora@gmail.com" sendstartuplog="true" sendexceptiontodeveloper="true" />
  <dbfilecontext connectionstring="DbFileContext" key="DbFileContextMigrationConfiguration" verbose="true" />
  <virtualpathproviders>
    <subfolder enabled="false" />
    <dbfsvpp enabled="false" usecachewrapper="false" />
  </virtualpathproviders>
  <dumptolocal enabled="true" folder="~/App_Data" deletefiles="true" sync="true" />
  <pluginloader enabled="true" loadfromdb="false" deletefiles="true" />
  <kompiler enabled="true" assemblyname="code-dom-compiled-assembly" loadfromdb="true" force="true" roslyn="false" />
</Frankstein>