@using System.Web.Hosting
@{
    Layout = null;
    
    //verificar antes de exibir esta página
    
    //var defaultCshtml = WebPagesHtmlHelpers.MapPath("default.cshtml");
    //var indexCshtml = WebPagesHtmlHelpers.MapPath("index.cshtml");
    //if (HostingEnvironment.VirtualPathProvider.DirectoryExists(defaultCshtml))
    //{
    //    Themes.Initialize(themePath, "Default");
    //}
    
    //var file = HostingEnvironment.VirtualPathProvider.FileExists("")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p>Site não configurado.</p>
    </div>
</body>
</html>
