<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Frankstein" type="Frankstein.Common.Configuration.BootstrapperSection, Frankstein.Common.Configuration" />
  </configSections>
  <appSettings>
    <add key="dumpdir" value="HostWebApp\App_Data" />
  </appSettings>

  <Frankstein appname="Frankstein" stopMonitoring="false" traceoutput="~/traceoutput.log" insertroutes="false" verbose="true">
    <httpmodules>
      <trace enabled="false" events="" />
      <customerror enabled="false" controllername="" errorviewpath="~/500.cshtml" />
      <whitespace enabled="false" />
      <pathrewriter enabled="true" />
    </httpmodules>
    <mvctrace enabled="false" />
    <mail admin="admin@admin.com" developer="dev@admin.com" sendstartuplog="false" sendexceptiontodeveloper="true" />
    <dbfilecontext connectionstring="DbFileContext" key="DbFileContextMigrationConfiguration" verbose="true" />
    <virtualpathproviders>
      <subfolder enabled="false" />
      <dbfsvpp enabled="false" usecachewrapper="false" />
    </virtualpathproviders>
    <dumptolocal enabled="false" folder="~/App_Data" deletefiles="false" sync="false" />
    <pluginloader enabled="false" loadfromdb="false" deletefiles="false" />
    <kompiler enabled="false" assemblyname="code-dom-compiled-assembly" loadfromdb="false" force="false" roslyn="false" />
  </Frankstein>

  <connectionStrings>
    <!--<add name="DbFileContext" connectionString="Server=.\SQLEXPRESS;Database=MvcLib; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="DbFileContext" connectionString="Server=84e4ab72-f0df-4f5f-9b49-a3a4016bb637.sqlserver.sequelizer.com;Database=db84e4ab72f0df4f5f9b49a3a4016bb637;User ID=vhzpfqsaqsphkewc;Password=2rYFxcHBx33EkmtVpHAzGxDq8gPHZDJMPHF4WxEVRBmtSmWAyXbXRAECVHGqu8K2;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>