<?xml version="1.0"?>
<configuration>

  <!-- ASSEMBLIES JÁ ADICIONADOS PELO FRAMEWORK -->
  <!-- ASSEMBLIES DA PASTA BIN JÁ SÃO ADICIONADOS AUTOMATICAMENTE -->
  <!-- ASSEMBLIES DA PASTA _PLUGINS JÁ SÃO ADICIONADOS AUTOMATICAMENTE -->
  <appSettings>
    <clear />
    <!--<add key="System" value="System.dll" />
    <add key="System.Core" value="System.Core.dll" />
    <add key="System.Data" value="System.Data.dll" />
    <add key="Microsoft.CSharp" value="Microsoft.CSharp.dll" />
    <add key="System.Web" value="System.Web.dll" />
    <add key="System.Diagnostics" value="System.Diagnostics.dll" />
    <add key="System.ComponentModel.DataAnnotations" value="System.ComponentModel.DataAnnotations.dll" />
    <add key="System.Xml" value="System.xml.dll" />
    <add key="System.Xml.Linq" value="System.xml.linq.dll" />
    <add key="System.Net.Http" value="System.Net.Http.dll" />
    <add key="System.Configuration" value="System.Configuration.dll" />-->

    <!-- adicionar aqui somente assemblies do framework -->

    <!--<add key="System.IO.Compression" value="System.IO.Compression.dll" />-->
  </appSettings>

</configuration>
