@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 - not found</title>
</head>
<body>
    <div>
        <p>Página não encontrada!</p>
    </div>
</body>
</html>
